<div class="toolbar" role="banner">
  <img width="30" alt="Fazlis logo" src="/assets/images/home.png" />
  <span class="text-pop-up-top">Angular animation</span>
  <div class="spacer"></div>

  <div class="routers">
    <a routerLink="/home">Home</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/portfolio">Portfolio</a>
  </div>
</div>

<div 
  [appRepeatDiv]="40"
  [@changeRoute]="animationState" 
  (@changeRoute.done)="animationDoneHandler()" 
  class="container-1">
</div>

<main [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet" (activate)="startAnimation()"></router-outlet>
</main>